<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vineyard.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vineyard.location %>
</p>

<p>
  <strong>Wines:</strong>
  <% @vineyard.wines.each do |x| %>
  <li><%= link_to x.name, x %></li>

  <% end %>
</p>

<%= link_to 'Edit', edit_vineyard_path(@vineyard) %> |
<%= link_to 'Back', vineyards_path %>
<br/>
<%= link_to 'New Wine', new_vineyard_wine_path(@vineyard) %>
<%= button_to 'New Wine', new_vineyard_wine_path(@vineyard), method: :get %>
